<div class="main">
  <h1>Unless you got a time machine, this page doesn't exist.</h1>
  <h2><a [routerLink]="['/content']" routerLinkActive="active"><img src="https://media.giphy.com/media/67sbrfNMsjwmTYwygV/giphy.gif"></a></h2>
  <h1>C̴̰̳͠͠l̵̯͕̪͕̓ĭ̵̪̟̲͑̈̓c̵͙͇̈́̆k̴̲͉͖̺͗̈́̃̔ ̸̢̱̝͊͂t̷̺͓͖̽̈́h̸͈͗̈́̍è̵̺̯͔̪ ̸̢͒͒̐c̷̫̟͒͘͠ù̶̯̟̼͘b̷̪͓̗̐͂̌e̷͈͓̐̌̅́ ̴͇̐̊̔͜͝t̵̰͇̩̰͋͌̿o̷̟̼̭̻͑̚ ̶̧̦̥̾́t̶̡̹̉ͅr̸̤͇̰̀͆͗̋͜a̸̦͓̥͂̎͠v̵̧̱̮̓̐̇ë̷̘̹̲̹̀̕l̸͔̟̟̼̓͊͒ ̸̬̯̯͚́̽͝b̸̝̺͚͔́͊̇̆a̴̤̜͐͌̀͒ͅc̶̢̼͍̄ͅk̴͎̎͗́ ̷̺͙͛̋̚ĭ̷̠̰̹̀̕̚n̶̥̈́̊ ̶͓̝͑t̷̗͉͊i̵͇̾̀͂m̸͖̋̿̚ế̴̬</h1>
</div>

