/*
  change border based on the type of content
 */

.quotes{
  border: 2px dotted darkmagenta;
}
.thoughts {
  border: 2px dotted dodgerblue;
}

.mat-expansion-panel {
  width: 600px;
  margin: auto;
}
