<div class="content-{{ content.id }}">
  <a routerLink="/content" routerLinkActive="active">Content List</a>
  <img *ngIf="content.imgUrl === undefined else elseBlock " class="image" src="https://i.redd.it/hoi2zvm21vv51.jpg">
  <h1 class="title"> {{ content.title }}</h1>
  <h2 class="author"> Written by {{ content.author }}</h2>
  <p class="body" [innerHTML]= content.body ></p>
<div class="type">
  <p class="type">{{ content.type }}</p>
  <div class="tags">
    <h3 class="tags" *ngFor="let tag of content.tags">{{tag}}</h3>
  </div>
</div>

</div>
<ng-template #elseBlock><img class="image" src="{{ content.imgUrl }}"></ng-template>

