:host {
  display: block;
  color: #000000;
  padding: 200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);

}
.title{
  text-align: left;
  font-size: 32px;
}

.author {
  text-align: left;
}

.image{
  display: block;
  width: 80%;
  margin: 10px auto;
}

.body {
  margin: 10px auto;
  text-align: left;
}

.tags {
  display: inline-block;
  padding: 20px;
}

.type {
  display: inline-block;
  padding: 20px;
}
