:host{
  display: block;
  color: #000000;
  padding: 30px;
  margin: 10px auto;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid white;
  box-shadow: 0 10px 22px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.30);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}
.title{
  font-size: 32px;
}

.image{
  display: block;
  width: 80%;
  height: auto;
  margin: 10px auto;
  transition: transform 0.5s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.20), 0 2px 4px rgba(0,0,0,0.30);
}

.image:hover {
  margin: 0 auto;
  transform: scale(1.25);
}

.body {
  margin: 10px auto;
  text-align: left;
}


