<div class="content-{{ content.id }}">
  <h1><a [appHoverStyle]="titleStyle" [routerLink]="['/content', content.id]" routerLinkActive="active"> {{ content.title }}</a></h1>
  <h2 class="author"> Written by {{ content.author }}</h2>
  <h3 [appHoverStyle]="tagsStyle" class="tags" *ngFor="let tag of content.tags">{{tag}}</h3>
  <img (click)="revealContentID()" *ngIf="content.imgUrl === undefined else elseBlock " class="image" src="https://i.redd.it/hoi2zvm21vv51.jpg">
  <p class="body" [innerHTML]= content.body ></p>
  <p class="type">{{ content.type }}</p>
</div>
<ng-template #elseBlock><img (click)="revealContentID()"class="image" src="{{ content.imgUrl }}"></ng-template>
